<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/> <!-- compatible -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="assets/stylesheet/layout.css">

	<title>JarcDevelop PHP Hire Test</title>
</head>
<body class="container-fluid">
	<!-- header -->
	<header id="header" class="header">
		<nav class="color2 nav nav-pills navbar-static-top container-fluid">
			<div class="marlefrig">
				<!-- logo -->
				<div class="navbar-header navbar-left">
					<a class="logo navbar-brand" href="#"><strong>Modus</strong><span class="vs">versus</span></a>
				</div>
				<!-- menu -->
				<ul class="nav nav-pills navbar-right">
					<li ><a href="#">home</a></li>
					<li ><a href="#">about</a></li>
					<li ><a href="#">services</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<span class="caret"></span> portfolio</a>
				          <ul class="dropdown-menu">
				            <li><a href="#">1</a></li>
				            <li><a href="#">2</a></li>
				            <li><a href="#">3</a></li>
				          </ul>
					</li>
					<li ><a href="#">blog</a></li>
					<li ><a href="#">features</a></li>
					<li class="active .color4"><a href="#">contacts</a></li>
					<!-- search -->
					<li ><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
				</ul>
			</div>
		</nav>
	</header>
	<main class="container-fluid">
		<!-- seccion superior -->
		<section class="breac container-fluid color3 row">
			<div class="col-md-6 text-left contacts">
				contacts
			</div>
			<div class="col-md-6 text-right">
				<ol class="breadcrumb right text-right">
				    <li><a href="#" title="">home</a></li>
				    <li class="active"><a href="#" title="">contact us</a></li>
				</ol>
			</div>
		</section>
		<!-- contenido -->
		<section class="cont color6 container-fluid ">			
			
			<div id="map"></div>

			<p class="color3 mix_borrad">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</section>
		<!-- section contact -->
		<section class="color6 contform container-fluid row">
			<!-- contform -->
			<section class="form col-md-7">
				<!-- form -->
				<section><p id="ok"></p></section><!-- send -->
				<form id="formsendmail" accept-charset="utf-8">
					<section class="sendinquiry">send inquiry</section>
					<!-- name -->				
					<div class="form-group row col-md-10">
						<div class="col-md-10">
							<input class="form-control" type="text" name="name" value="" id="name" required>
						</div>
						<label for="" class="name col-md-2  col-form-label">name</label>
					</div>
					<!-- email -->				
					<div class="form-group row col-md-10">
						<div class="col-md-10">
							<input class="form-control" type="email" name="email" value="" id="email" required>
						</div>
						<label for="" class="email col-md-2  col-form-label">e-mail</label>
					</div>
					<!-- website -->				
					<div class="form-group row col-md-10">
						<div class="col-md-10">
							<input class="form-control" type="url" name="website" value="http://" id="website" required>
						</div>
						<label for="" class="webiste col-md-2  col-form-label">web site</label>
					</div>
					<!-- comment -->
					<div class="col-md-10">
						<textarea name="" class="textarea" cols="90%" rows="10" name="textarea" id="textarea" required></textarea>
					</div>
					<!-- submit -->
					<div class="col-md-10">
						<button type="submit" id="btnsendmail" class="btnsubmit btn btn-danger">SEND</button>
					</div>
				</form>
			</section>
			<!-- contact -->
			<section class="contact col-md-5">
				<section class="address">address</section>
				<section class="col-md-10 right">
					<ul class="ulcont">
						<li><img src="assets/images/gps.png" alt="">Lorem ipsum dolor sit amet, ipsum</li>
						<li><img src="assets/images/phone.png" alt=""> 111 5698 5689</li>
						<li><img src="assets/images/email.png" alt=""> <a href="mailto:modus@versus.com?subject=feedback">modus@versus.com</a>  </li>
					</ul>
				</section>
			</section>
		</section>
	</main>
	<!-- footer -->
	<footer id="footer" class="footer container-fluid">
		<section class="color2 foot1 container-fluid row">
			<section class="col-md-4">a</section>
			<section class="col-md-4">b</section>
			<section class="col-md-4">c</section>
			
		</section>
		<section class="color4 foot2 container-fluid row">
			<section class="credits col-md-6 left">2013 ModusVersus</section>
			<section class="rrss col-md-6 right">
				<section class="">
					<ul class="ulrrss text-right">
						<li>a</li>
						<li>a</li>
						<li>a</li>
						<li>a</li>
					</ul>
				</section>
			</section>
		</section>
	</footer>
	<script src="assets/jquery/jquery.min.js"></script><!-- jquery -->
	<script src="assets/js/actions.js"></script>
    <script src="assets/js/bootstrap.min.js"></script><!-- bootstrap -->
    <script src="assets/js/jquery.validate.min.js"></script> <!-- validator bst -->
    <!-- script map -->
    <script>
    var map;
	function initMap() {
		var myLatLng = {lat: 10.0611788, lng: -69.3397187};
		var map = new google.maps.Map(document.getElementById('map'), {
			center: myLatLng,
			scrollwheel: false,
			zoom: 20
		});
		var marker = new google.maps.Marker({
			map: map,
			position: myLatLng,
			title: 'Google Plex'
		});
	}
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAikJRQ80Je0glogMVoaN09HObA6EkBpL4&callback=initMap" async defer></script>

    <script>
    	
    </script>


</body>
</html>