<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/> <!-- compatible -->

	<link rel="stylesheet/less" href="stylesheet/layout.less" type="text/css" />


    <title>JarcDevelop PHP Hire Test</title>
</head>
<body>
	<header id="header" class="header">
		<nav class="menu color2">
		    <ul>
		        <li><a href="#"></a></li><!--
		     --><li><a href="#"></a></li><!--
		     --><li><a href="#"></a></li><!--
		     --><li><a href="#"></a></li>
		    </ul>
		</nav>
	</header>
	<main>
		
	</main>
	<footer id="footer" class="footer">
		
	</footer>

</body>
</html>